body {
    background: url(https://newevolutiondesigns.com/images/freebies/city-wallpaper-47.jpg);
    padding: 0 25px;
    font-family: arial, sans-serif;
    position: relative;
}

#main, #chats {
    border-radius: 0 0 3% 3%;
    width: 500px;
    margin: auto;
    text-align: left;
    background: rgba(255,255,255,0.90);
    padding: 30px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main {
    border-radius: 3% 3% 0 0;
}

#main h1 {
    margin-top: 0;
    font-size: 50px;
    margin-bottom: 5px;
    padding: 5px;
    position: center;
}

#main h1 span {
    font-style: italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

.scrollable {
    height: 385px;
    border-radius: 0% 0% 2.5% 2.5%;
    overflow-y: auto;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.friend {
    color: #fff;
    background-color: #0090da;
}

#chats:not(div) {
    opacity: 0.93;
}

